<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Queue Management</title>
    <!-- Modal for displaying student info -->

    <link rel="stylesheet" type="text/css" th:href="@{/assets/mortevision/css/queue_management.css}">
</head>

<body>
    <th:block layout:fragment="body" th:remove="tag">
        <div id="ManagementMenu">
            <div id="ManagementContent" class="p-2">

                <h3 class="modal-title">Initialize Live Reviews</h3>
                <div class="dropdown-container">
                    <label for="assignmentDropdown" class="form-label">Choose an Assignment:</label>
                    <select id="assignmentDropdown" class="form-select"></select>
                    <label for="durationInput" class="form-label">Presentation Length (Seconds):</label>
                    <input type="number" id="durationInput" class="form-control"/>
                    <label for="presenterInput" class="form-label">Presenters</label>
                    <select id="presenterInput" class="form-select">
                        <option value="tester">Tester Set</option>
                        <option value="p1">Period 1 | By Person</option>
                        <option value="p3">Period 3 | By Person</option>
                        <option value="p1t">Period 1 | By Table</option>
                        <option value="p3t">Period 3 | By Table</option>
                        <option value="p1g">Period 1 | By Group</option>
                        <option value="p3g">Period 3 | By Group</option>
                    </select>
                    <button id="initializeQueue" class="btn btn-primary">Begin Presentations</button>
                    <button id="resetQueue" class="btn btn-secondary">Reset Assignment Queue</button>
                </div>

            </div>
            <div id="ManagementHandle" onclick="toggleLeftSidebar()"><span class="directionalityFlip">
                    </span><span id="handleTitle">Management Options</span><span class="directionalityFlip">
                            </span>
            </div>
            <div id="directionCircle"><span class="directionalityFlip" style="height: 62px;
    width: 25px;">
                    </span>
            </div>
        </div>
        <div>
            <div id="assignmentModal" class="modal">
                <div class="modal-content" style="color: #212529; background-color: #fff;">
                    <h2 class="modal-title">Connect to Assignment</h2>
                    <label for="modalAssignmentDropdown" class="form-label">Choose an Assignment:</label>
                    <select id="modalAssignmentDropdown" class="form-select mb-3"></select>
                    <button id="confirmAssignment" class="btn btn-primary">Confirm</button>
                </div>
            </div>

            <h1 class="centeredHeaders">Queue Management</h1>
            <h2 class="centeredHeaders" id="viewingAssignmentTitle">Viewing Assigment: [ASSIGNMENT]</h2>
            
        </div>
        <div class="queue-container">
            <div class="column">
                <h2>Completed</h2>
                <ul id="doneList">
                </ul>
            </div>
            <div class="column">
                <h2>Waiting</h2>
                <ul id="waitingList">
                </ul>
            </div>
            <div class="column">
                <h2>Working</h2>
                <ul id="notGoneList">
                </ul>
            </div>
        </div>

    </th:block>
</body>

<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/assets/mortevision/js/queue_management.js}"></script>
</th:block>

</html>