<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/base}" lang="en">

<!-- page style -->
<th:block layout:fragment="style" th:remove="tag"></th:block>

<!-- page title -->
<th:block layout:fragment="title" th:remove="tag">Data Fun</th:block>

<!-- The 'body' section is defined using Thymeleaf's layout fragment. It will replace the 'body' content in the base layout -->
<th:block layout:fragment="body" th:remove="tag">
    <canvas id="myChart"></canvas>
    <form>
        <select name="Series" id="series">
            <option value="NY.GDP.MKTP.CD" id="NY.GDP.MKTP.CD" selected>Gross Domestic Product (US dollar)</option>
            <option value="NY.GDP.PCAP.CD" id="NY.GDP.PCAP.CD">GDP per capita (US dollar)</option>
            <option value="FP.CPI.TOTL.ZG" id="FP.CPI.TOTL.ZG">Inflation % (consumer prices)</option>
            <option value="CM.MKT.TRAD.GD.ZS" id="CM.MKT.TRAD.GD.ZS">Stocks Traded (% of GDP)</option>
            <option value="SI.POV.GINI" id="SI.POV.GINI">Gini Index (income disparity)</option>
            <option value="SP.URB.TOTL.IN.ZS" id="SP.URB.TOTL.IN.ZS">Urban Population (% of total population)</option>
        </select>
        <select name="Country" id="country">
            <option value="us" id="us" selected>United States</option>
            <option value="gb" id="gb">United Kingdom</option>
            <option value="cn" id="cn">China</option>
            <option value="ca" id="ca">Canada</option>
            <option value="ru" id="ru">Russia</option>
            <option value="de" id="de">Germany</option>
            <option value="fr" id="fr">France</option>
            <option value="jp" id="jp">Japan</option>
            <option value="mx" id="mx">Mexico</option>
        </select>
        <button type="submit">Update Chart</button>
    </form>
</th:block>
<!-- End of the body fragment -->

<th:block layout:fragment="script" th:remove="tag">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        function formatGDPData(data){
            let resultX = [];
            let resultY = [];

            //assume data is an array
            if(!Array.isArray(data)){console.warn("unexpected format"); return;};
            //and should be holding an array within the second index ([_,ME])
            if(!Array.isArray(data[1])){console.warn("unexpected format"); return;};
            //decrement so that oldest values are first added
            for(let i=data[1].length-1; i>=0; i--){
                const obj = data[1][i];
                if(!obj.hasOwnProperty("date")){continue;}
                if(!obj.hasOwnProperty("value")){continue;}
                if(obj.value == null){continue;}
                resultX.push(Number(obj.date));
                resultY.push(Number(obj.value))
            }

            return [resultX,resultY];
        }

        async function fetchData(url){
            url = url?url:"https://api.worldbank.org/v2/country/us/indicator/NY.GDP.MKTP.CD?format=json"
            let formattedData;
            await fetch(url, {
                method: "GET",
                cache: "no-cache",
                }).then((response) => response.json()).then((data) => {
                    formattedData = formatGDPData(data);
            })
            return formattedData;
        }

        let chart = null;
        // Your Function
        async function drawChart(url,dataLabel,title) {
            //check for an existing chart
            if(chart != null){
                //remove any found
                chart.destroy();
            }

            let dataArray = await fetchData(url);
            let xValues = dataArray[0];
            let yValues = dataArray[1];


            chart = new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    label: dataLabel?dataLabel:'Gross Domestic Product (US dollar)',
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "grey",
                    borderColor: "green",
                    data: yValues
                }]
            },
            options: {
                legend: {display: false},
                plugins: {
                    title: {
                        display: true,
                        color: "white",
                        text: title?title:"United States: Gross Domestic Product (US dollar)",
                    }
                },
            },
            });
        } 

        document.querySelector("form").addEventListener("submit",(event)=>{
            event.preventDefault();
            let country = document.getElementById("country").value;
            let series = document.getElementById("series").value;
            let dataLabel = document.getElementById(series).innerText;
            let title = document.getElementById(country).innerText+": "+dataLabel;
            let url = "https://api.worldbank.org/v2/country/"+country+"/indicator/"+series+"?format=json";
            drawChart(url,dataLabel,title);
        })

        drawChart(null,null,null); //fill chart with default data
    </script>
</th:block>

</html>