<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">
<head>
    <title>Bathroom Queue List</title>
    <link rel="stylesheet" 
          href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
</head>
<body>
<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4 bg-primary">
        <header class="pb-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center text-light text-decoration-none">
                <span class="fs-4">Database SQL Bathroom Queue</span>
            </a>
        </header>
        <div class="container py-4 text-light bg-success">
            <h2>Bathroom Queue Viewer</h2>
            <div class="row align-items-md-stretch">
                <table id="queueTable" class="table">
                    <thead>
                    <tr>
                        <th>Teacher Email</th>
                        <th>Current Student</th>
                        <th>Queue</th>
                        <th>Time Out</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="queue : ${queues}">
                            <td th:text="${queue.teacherEmail}">Teacher Email</td>
                            <td th:text="${queue.currentStudent}">Current Student</td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    <li th:each="student : ${queue.waitingStudents}" th:text="${student}">Student Name</li>
                                </ul>
                            </td>
                            <td th:text="${queue.timeOut}">Time Out</td>
                            <td>
                                <a th:if="${queue.currentStudent != null}" 
                                   th:href="@{/api/queue/remove(teacherEmail=${queue.teacherEmail},studentName=${queue.currentStudent})}">
                                    Return Student
                                </a>
                                <a th:if="${queue.waitingStudents != null and !queue.waitingStudents.empty}"
                                   th:href="@{/api/queue/approve(teacherEmail=${queue.teacherEmail},studentName=${queue.waitingStudents[0]})}">
                                    Approve Next
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
</th:block>
</body>
</html>