<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/base}" lang="en">

<th:block layout:fragment="style" th:remove="tag">
    <style>
        #cookie {
            display: block;
            background: rgb(131, 58, 180);
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            position: fixed;
            top: 50%;
            left: 50%;
            filter: none;
            height: 10%;
            width: auto;
            transition: .25s linear;
            border-radius: 50%;
            z-index: 2;
        }

        .gradient {
            background: rgb(131, 58, 180);
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .gradientB {
            background: rgb(252, 176, 69);
            background: linear-gradient(90deg, rgba(252, 176, 69, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
        }
    </style>
</th:block>

<th:block layout:fragment="title" th:remove="tag">Cookie Clicker</th:block>

<th:block layout:fragment="body" th:remove="tag">
   
    <div class="container">
        <h3>Cookie Clicker</h3> <!-- Header for Update Info section -->
        <table id="personTable" class="table">
            <thead>
                <tr th:each="person : ${list}">
                    <div>
                        <!-- Profile picture with fallback image on error -->
                        <a id="profile-link-${person.id}" data-person-id="${person.id}" target="_blank">
                            <img id="cookie" th:src="|https://github.com/${person.uid}.png|" alt="Profile Picture"
                                onerror="this.onerror=null; this.src='https://github.com/user-attachments/assets/13dec9b2-21d6-458e-b099-f5f85ae9caf2';" />
                            <input type="text" th:value="${person.uid}" id="uid" placeholder="Uid Address"
                                style="display: none;">
                        </a>
                        <a id="uid" value="${person.uid}" style="display: none;"></a>
                    </div>
                </tr>
            </thead>
            <tbody>
                <td>
                    <p>
                        <b id="counter">
                            amount: 0
                        </b>
                    </p>
                </td>
                <td>
                    <button id="multiplier">basic cookie, 10 cookies</button>
                </td>
                <td>
                    <button id="passive">basic cookie oven, 100 cookies</button>
                </td>
                <td>
                    <button id="sacrifice">SACRIFICE THE COOKIES!, 1000 cookies</button>
                </td>
            </tbody>
        </table>
        <script type="text/javascript" src="/static/js/cookie-clicker.js" th:src="@{/js/cookie-clicker.js}"></script>
        <script>
            var gravity = 6;

            var positionX = 50; //50 == 50%
            var positionY = 50;

            var velocityX = 0;
            var velocityY = 0;

            var rotation = 0;
            var rotationVelocity = 0;

            var canvas = document.getElementById("cookie");

            function updatePositionToVelocity() {
                velocityY = Math.min(velocityY, 10);
                velocityY = Math.max(velocityY, -10);
                velocityX = Math.min(velocityX, 5);
                velocityX = Math.max(velocityX, -5);
                // 0,0 is at top left corner and I want it to be bottom left
                positionX = positionX + velocityX;
                positionY = positionY + velocityY; //y is opposite;

                positionX = Math.max(positionX, -40);
                positionY = Math.max(positionY, -40);
            }
            function updateStyle() {
                var deltaX = 50 - positionX;
                var deltaY = 50 - positionY;

                deltaX = Math.max(deltaX, -40);
                deltaX = Math.min(deltaX, 40) * 10;
                deltaY = Math.max(deltaY, -40);
                deltaY = Math.min(deltaY, 40) * 10;

                if (deltaY == -450) {
                    velocityY = Math.min(velocityY, 0);
                }
                if (deltaX == -1000) {
                    velocityX = Math.min(velocityX, 0);
                }

                // 0,0 is at top left corner and I want it to be bottom left
                var left = deltaX.toString() + "%";
                var top = deltaY.toString() + "%";
                var rot = rotation.toString() + "deg"; // sting
                canvas.style.transform = "translate(" + left + "," + top + ") rotate(" + rot + ")";
            }

            var fps = 24;
            var active = true;
            var animId;
            var currentFrame = 0;
            function frame() {
                currentFrame = (currentFrame + 1) % fps;

                velocityY -= gravity / fps;
                rotationVelocity *= 1 - .9 / fps;
                if (Math.abs(rotationVelocity) < 3) {
                    rotationVelocity = 0;
                    velocityX = 0;
                }
                rotation += rotationVelocity;
                updatePositionToVelocity();
                updateStyle();

                // Continue the animation loop
                setTimeout(function () {
                    if (active == true) {
                        animId = requestAnimationFrame(frame);
                    }
                }, 1000 / fps);
            }
            var directionMult = .5;
            canvas.addEventListener("click", () => {
                rotationVelocity = Math.random() * 120 * directionMult;
                if (directionMult >= 0) { directionMult = -.5 } else { directionMult = .5 };
                velocityX = -rotationVelocity / 12;
                velocityY = 8;
                updatePositionToVelocity();
                updateStyle();

                var selectors = $("p,li,h1,h2,h3,h4").not('.gradient');
                if (selectors.length > 0) {
                    selectors.eq(Math.floor(Math.random() * selectors.length)).addClass("gradient");
                }
                else {
                    selectors = $("*:visible").not('.gradientB').not('.gradient');
                    selectors.eq(Math.floor(Math.random() * selectors.length)).addClass("gradientB");
                }

            })

            // Start the animation loop
            frame();
        </script>
    </div>
</th:block>

</html>