<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">
<head>
      <script>
        window.addEventListener("load",()=>{
            document.getElementById("pfp-preview").src = document.getElementById("pfp").src;
            
            function getRandomInt(min, max) {
                const minCeiled = Math.ceil(min);
                const maxFloored = Math.floor(max);
                return Math.floor(Math.random() * (maxFloored - minCeiled) + minCeiled); // The maximum is exclusive and the minimum is inclusive
            }


            var randomInt = getRandomInt(1,6);

            var answer = "";

            switch (randomInt) {
                case 1:
                    answer = document.getElementById("id").innerText;
                    document.getElementById("question").innerHTML = "What is this user's: "+ "Id".bold()+"?";
                    break;
                case 2:
                    answer = document.getElementById("email").innerText;
                    document.getElementById("question").innerHTML = "What is this user's: "+ "Email?".bold()+"?";
                    break;
                case 3:
                    answer = document.getElementById("name").innerText;
                    document.getElementById("question").innerHTML = "What is this user's: "+ "Display Name".bold()+"?";
                    break;
                case 4:
                    answer = document.getElementById("kasmServerNeeded").innerText;
                    document.getElementById("question").innerHTML = "What is this user's: "+ "Kasm Server Needed Status".bold()+"?";
                    break;
                case 5:
                answer = document.getElementById("dob").innerText.split(" ")[0];
                    document.getElementById("question").innerHTML = "What is this user's: "+ "Date of Birth".bold()+"? (yyyy-mm-dd)";
                    break;
                default:
                    console.warn("something went wrong");
                    break;
            }

            document.getElementById("table").remove();

            document.getElementById("submitGuess").addEventListener("click",()=>{
                if(document.getElementById("inputField").value == answer){
                    document.getElementById("footerInfo").style.color = "green";
                    document.getElementById("footerInfo").innerText = "You are Correct! Reload page to play again.";
                }else{
                    document.getElementById("footerInfo").style.color = "Red";
                    document.getElementById("footerInfo").innerText = "Incorrect! The Correct Answer was: "+answer+". Reload page to play again.";
                }
                document.getElementById("submitGuess").remove();
            })
        });
    </script>
</head>

<body>
    <th:block layout:fragment="body" th:remove="tag">
        <div class="container py-4 bg-primary">
            <div class="container py-4 text-light bg-success">
                <div class="row align-items-md-stretch">
                    <table class="table" style="display:none;" id="table">
                        <tbody>
                            <tr th:object="${person}">
                                <td th:text="${person.id}" id="id">Person ID</td>
                                <td> 
                                    <img th:src="${person.pfp}" id="pfp" alt="Profile Picture" style="width: 64px; height: 64px; border-radius: 50%;" />
                                </td>    
                                <td th:text="${person.email}" id="email">Person ID</td>
                                <td th:text="${person.name}" id="name">Name</td>
                                <td th:text="${person.kasmServerNeeded}" id="kasmServerNeeded">Kasm Server Needed</td>
                                <td th:text="${person.dob}" id="dob">Date of Birth</td>
                            </tr>
                        </tbody>
                    </table>
                    <h1>Person Quiz</h1>
                    <img id="pfp-preview" src="" alt="GitHub Profile Picture" style="max-width: 100px;">
                    <div>
                        <h3 id="question"></h3>
                        <input id="inputField" type="text" placeholder="Input Guess Here"/>
                        <button type="button" id="submitGuess">submit guess</button>
                        <h4 id="footerInfo"><h4>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
