<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/style-only}" lang="en">

<head>
    <script>

        window.addEventListener("load", () => {
            document.getElementById("addRoleButton").addEventListener("click", () => {
                var roleNames = [];
                if (document.getElementById("addRole1").checked == true) {
                    roleNames.push("ROLE_USER");
                }
                if (document.getElementById("addRole2").checked == true) {
                    roleNames.push("ROLE_ADMIN");
                }
                if (document.getElementById("addRole3").checked == true) {
                    roleNames.push("ROLE_TESTER");
                }
                if (document.getElementById("addRole4").checked == true) {
                    roleNames.push("ROLE_TEACHER");
                }
                if (document.getElementById("addRole5").checked == true) {
                    roleNames.push("ROLE_STUDENT");
                }
                if (roleNames.length == 0) { return; }
                var body = {
                    uid: document.getElementById("uid").value,
                    roleNames: roleNames,
                }
                fetch("/mvc/person/update/roles", {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(body),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                }).then(function (response) {
                    if (response.status !== 200) {
                        const errorMsg = 'Database response error: ' + response.status;
                        console.error(errorMsg);
                        document.getElementById("footerInfo").style.color = "red";
                        document.getElementById("footerInfo").innerText = "Failed to update roles.";
                        if (response.status = 403) {
                            document.getElementById("footerInfo").innerText = "Unauthorized action, you must be an admin to update roles.";
                        }
                        return;
                    }
                    else {
                        document.getElementById("footerInfo").style.color = "green";
                        document.getElementById("footerInfo").innerText = "Successfully updated roles";
                        return;
                    }
                })
            })
        });
    </script>
</head>

<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4">
        <div style="display: none;" th:object="${person}">
            <div style="display: none;">
                <input type="text" th:field="*{uid}" id="uid"
                    placeholder="Uid Address" required>
            </div>
        </div>

        <!-- Roles Input Section -->
        <h3>Add Roles</h3> <!-- Header for Roles section -->
        <table>
            <tbody>
                <tr>
                    <td>User</td>
                    <td><input class="form-check-input mb-2 mr-sm-2" type="checkbox" id="addRole1"></td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td><input class="form-check-input mb-2 mr-sm-2" type="checkbox" id="addRole2"></td>
                </tr>
                <tr>
                    <td>Tester</td>
                    <td><input class="form-check-input mb-2 mr-sm-2" type="checkbox" id="addRole3"></td>
                </tr>
                <tr>
                    <td>Teacher</td>
                    <td><input class="form-check-input mb-2 mr-sm-2" type="checkbox" id="addRole4"></td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td><input class="form-check-input mb-2 mr-sm-2" type="checkbox" id="addRole5"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary btn-sm" type="button" id="addRoleButton">Add Roles</button>
        <div id="footerInfo"></div>
    </div>
</th:block>

</html>
